<p>show</p>
<body>
  <main>
    <div class='container px-5 px-sm-0'>
      <div class='row'>
        <div class='col-md-3'>
          <%= render 'userinfo', users: @users %>
        </div>
      </div>
    </div>
  </main>
</body>


<!-- ユーザーの投稿一覧 -->

<!--<% @books.each do |book| %>-->
<!--<div>-->
<!--  <p>Title：<%= book.title %></p>-->
<!--  <p>Opinion：<%= book.body %></p>-->
<!--  <p>ユーザーネーム：<%= book.user.name %></p>-->
<!--</div>-->
<!--<% end %>-->